$armCareRed: #F21217;

.navLogo {
	height: 1.5em;
	margin-top: .25em;
}

nav {
	background-color: $armCareRed;
}

h4 {
	text-align: center;
}

footer.page-footer {
	margin-top: 0;
	background-color: $armCareRed;
}